<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Todo App</title>
</head>

<body class="p-4">
  <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">To-do</span>
    </div>
  </nav>
  <div class="container mx-auto mt-10">
    <h1 class="text-2xl text-center font-bold">Update To-do</h1>
    <form method="post" class="mt-10 mx-auto w-5/12 p-10 bg-white rounded">
      {% csrf_token %}
      <div class="mb-4 w-6/12 mx-auto">
        <label class="block text-gray-700 font-medium mb-2">Update Task</label>
        <input type="text" name="task" value="{{ taskify.task }}" class="border border-gray-400 p-2 w-full">
        <label class="block text-gray-700 font-medium mb-2">Priority</label>
        <select name="priority" class="border border-gray-400 p-2 pr-0 w-4/12">
          <option value="Low" {% if taskify.priority == 'Low' %} selected {% endif %}>Low</option>
          <option value="Medium" {% if taskify.priority == 'Medium' %} selected {% endif %}>Medium</option>
          <option value="High" {% if taskify.priority == 'High' %} selected {% endif %}>High</option>
        </select </div> <div class="mb-4 w-2/12 mx-auto">


      </div>
      <div class="mb-4 text-center">
        <input type="submit" value="Update"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        <a href="{% url 'taskifys:index' %}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
      </div>
    </form>
  </div>
</body>

</html>